body {
	margin: 1em;
	padding: .5em;
	display: block;
	font-family: 'Montserrat', sans-serif;
	background-image: url("./images/wave.svg");
	color: white;
	}

footer {
  position: absolute;
  bottom: 0;
  height: 2em;
  padding-bottom: .5em;
}

/* LINK EDITING */
a {
  text-decoration: none;
  width: 33%;
  margin: 0 1em;
}

a:visited {
	color: white;
}

a:link{
  color: white;
}

/* GRADIENT */
.experience{
	background-color: rgba(131, 173, 210, .4);
}
.skills {
	background-color: rgba(131, 173, 210, .33);
}
.projects {
	background-color: rgba(131, 173, 210, .26);
}
.misc {
	background-color: rgba(131, 173, 210, .19);
}

/* NAVBAR CONTENT */
.navbar-container{
  display: flex;
  margin: 0 auto;
}
.navbar-content {
  margin: 1.5em auto;
  width: fit-content;
  text-decoration: none;
  display: inline-flex;
}
.vertical-line {
  border-left: 1px solid #FFFFFF;
}

/* COLLAPSIBLE FIELD STLYES */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  color: rgba(255, 255, 255, .8);
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-style: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: rgba(131, 173, 201, .5);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '+'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "-"; /* Unicode character for "minus" sign (-) */;
}