body {
	margin: 1em;
	padding: .5em;
	display: block;
	font-family: 'Montserrat', sans-serif;
	background-image: url("./images/wave.svg");
	color: white;
	}

header {
  position: ;
}

/* LINK EDITING */
a {
  text-decoration: none;
}

a:visited {
	color: white;
}

a:link{
  color: white;
}

p {
  padding-top: 1em;
  margin: auto auto;
}

/* Index flex stuff */
.recent-panel {
  display: flex;
}

.updates {
  line-height: 150%;
  max-width: 50%;
  margin-right: auto;
}

.spaced {
  line-height: 150%;
}

.socials {
  margin-top: 2px;
  max-width: 1.5em;
}

.linked {
  border: 1px solid;
  border-radius: 5px;
}

/* Projects page really */
.shops {
  display: flex;
  margin: auto;
  padding: auto;
  justify-content: center;
}
.logo {
  width: auto;
  height: 40px;
  background-color: rgba(0, 0, 0, .65);
  padding: 50px 10px;
  border-radius: 15px;
  margin-top: 1em;
  margin-left: .5em;
  margin-right: .5em;
}

.logo:hover {
  background-color: rgba(50, 50, 50, .55);
}

.air {
  bottom: 0;
  height: 2em;
  padding-bottom: .5em;
  margin-bottom: .5em;
}

/* Resume page mostly */
/* GRADIENT */
.illustration {
  background-color: rgba(131, 173, 210, .19);
}
.experience{
	background-color: rgba(131, 173, 210, .4);
}
.skills {
	background-color: rgba(131, 173, 210, .33);
}
.projects {
	background-color: rgba(131, 173, 210, .26);
}
.misc {
	background-color: rgba(131, 173, 210, .19);
}

/* NAVBAR CONTENT */
.navbar-container{
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
.navbar-content {
  margin: 1.5em auto;
  text-decoration: none;
  display: inline-flex;
}
.vertical-line {
  border-left: 1px solid #FFFFFF;
  margin-right: .5em;
  margin-left: .5em;
}

/* COLLAPSIBLE FIELD STLYES */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  color: rgba(255, 255, 255, .8);
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-style: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: rgba(131, 173, 201, .5);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: .2em;
}

.collapsible:after {
  content: '+'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "-"; /* Unicode character for "minus" sign (-) */;
}